body {
    font-family: helvetica !important;
    color: black !important;
}

h4 {
    font-family: helvetica !important;
    color: black !important;
    font-size: 1.4rem;
}

/* Classes for the translation chain links */
.link {
    border-color: white;
    border-radius: 5px;
    margin-top: 0.25rem;
    margin-bottom:0.25rem;
    padding: 0.3rem;
}

.link1 {
    background-color: #875E82;
    color: white;
}
.link2 {
    background-color: #7577A0;
    color: white;
}
.link3 {
    background-color: #5290B1;
    color: white;
}
.link4 {
    background-color: #27A8B1;
    color: white;
}
.link5 {
    background-color: #2DBCA1;
    color: white;
}
.link6 {
    background-color: #65CC85;
    color: white;
}




/* I just hate the default look */

#main-content {
    margin-left: 3rem;
    margin-right: 3rem;
}

#header {
    margin-left: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#text-entry {
    margin-right: 1rem;
    max-width: 22rem;
}

#language-container {
    margin-left: 1rem;
}

#button-container {
    margin-top: -0.3rem;
    margin-right: 2rem;
}

#add-button {
    margin-bottom: 0.4rem;
}

#results-main {
    margin-top: 4rem;
}

.chain_link {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    text-align: center;
}

#output-text {
    color: black !important;
    text-align: center;
}

#output-container {
    margin-left: 2rem;
}

/* Stuff for the spinner */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0B877D; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.translated {
}

.arrow {
    text-align: center;
}

.button {
    background-color: #0B877D;
    border: white 1px;
    border-radius: 3px;
    color: white;
    padding: 0.3rem 0.7rem;
    padding-top: 0.2rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    min-width: 3.8rem;
}

.button:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 9px 25px 0 rgba(0,0,0,0.19);
}


#translation-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}


#language-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}





/* I like my whitespace */
